[user]
	email = chrischoy208@gmail.com
	name = Christopher B. Choy
[push]
	default = simple
[merge]
	tool = nvimdiff
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
  d = difftool
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d -u ~/.nvimrc \"$LOCAL\" \"$REMOTE\""
